.assembly{
	/* overflow: hidden; */
	/* width:200px; */
	/* position:relative	; */
	/* display: inline-block; */
	line-height: 450 px;

}
.clear{
	content: '';   
	/*Обязательное свойство*/
	display:block; 
	/*Делаем элемент блочным*/
	clear:both;   
	/*Запрещаем обтекание*/
	/* overflow:hidden; */
}
.clearfix {display: inline-block;}
.menutext{
	color:#4f4646;
	font-size:15px;
}
.menu_item{
color:#4f4646;
/* font-size:15px; */
align:center;
font-family:verdana;
}

.del-item{
	cursor: pointer;
}
.clear {
	clear: both;
}
.more{color:#FF8000;}
.btn-more {
	color: #fff;
	background-color: #FF8000;
	border-color: #FF8000;
  }
  .btn-more:focus,
  .btn-more.focus {
	color: #fff;
	background-color: #FF8000;
	border-color: #122b40;
  }
  .btn-more:hover {
	color: #fff;
	background-color: #FF8000;
	border-color: #204d74;
  }
.text{color:orange;}
.button12{border-color:orange;
color:red;
font-size:30px;}
.image_photo{
background: url("../image/korpis2.jpg") no-repeat 50% 0;
height:200px;
width:200px;}

.sborka{position:relative;
margin-left:200px;
width:300 px;
height:300px;
}
.configurator_menu{
    
    

}
.price{font-family: Tahoma;
font-size: 15px;
font-weight:900;}
.text_property{font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color:rgb(0, 8, 1);}
.text_complex{font-family: Arial, Helvetica, sans-serif;

	font-size: 18px;
}
/* .komplects{position:absolute;
  
background:white;
display:none;
} */
/* .sborka:hover .komplects{
	display:block;
}
.Name_sborka{margin-left:20px;} */

